* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  background: #ffdf8c;
}
.wrapper {
  width: calc(110vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  max-width: 1400px;
  border-radius: 10px;
}

